{% extends "base.html" %}
{% load static %}

{% block title %}
About me
{% endblock title %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock extrahead%}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>
                <ul>
                <li>Email: mutembeiagnes@gmail.com</li>
                <li>Phone Number: 0714942400</li>
                <li><b>ABOUT ME COMING SOON!</b></li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock content %}